/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");


@font-face {
    font-family: 'square';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/upheavtt.ttf') format('truetype');
}

@font-face {
    font-family: 'pixel';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/04B_30__.TTF') format('truetype');
}

@font-face {
    font-family: 'academy';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/AcademyFilled3D.ttf') format('truetype');
}

@font-face {
    font-family: 'doergon';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/DoergonShift.ttf') format('truetype');
}

@font-face {
    font-family: 'actionj';
    font-weight: bolder;
    font-style: normal;
    src: url('./fonts/actionj.ttf') format('truetype');
}

@font-face {
    font-family: 'rockwell';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/rockwell-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'tallfont';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/tallfont.otf') format('truetype');
}

@font-face {
    font-family: 'christmasfont';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/PWHappyChristmas.ttf') format('truetype');
}

@font-face {
    font-family: 'christmasfontcane';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/Candcu__.ttf') format('truetype');
}

@font-face {
    font-family: 'christmasicon';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/Christmas Icons.ttf') format('truetype');
}

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --gradient-color: linear-gradient(90deg,
                    hsl(48, 100%, 50%) 0%,
                    hsl(28, 100%, 54%, 100%));
  --black-color: hsl(225, 15%, 6%);
  --reflection-color: hsla(48, 30%, 95%, .3);
  --body-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 1rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: #151F28;
}

a {
  text-decoration: none;
}

.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f59e0b; /* amber-500 */
}

.text-stroke-black {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000; /* amber-500 */
}

.image-stroke {
  filter: drop-shadow(0 0 0px #000000) /* no shadow */
          drop-shadow(2px 0 0 #000000) /* position to the right */
          drop-shadow(-25px 0 0 #f59e0b) /* position to the left */
          drop-shadow(0 2px 0 #000000) /* position below */
          drop-shadow(0 -2px 0 #000000); /* position above */
}







